<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547342909947-3m59s5k0hbfgivoasioieh5tr8keaug4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547342909947-3m59s5k0hbfgivoasioieh5tr8keaug4</string>
	<key>API_KEY</key>
	<string>AIzaSyAklUuR7qZEdKCL0cy0WexwmhxiXBDZlM4</string>
	<key>GCM_SENDER_ID</key>
	<string>547342909947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gardeningApp</string>
	<key>PROJECT_ID</key>
	<string>gardening-app-87c91</string>
	<key>STORAGE_BUCKET</key>
	<string>gardening-app-87c91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547342909947:ios:1737405b69d4dd00fc4b5e</string>
	<key>DATABASE_URL</key>
	<string>https://gardening-app-87c91-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>